/* Global Styles **************************************************************************************************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Verdana, sans-serif;
    line-height: 1.5em;
}

/* Navigation styles *************************************************************************************************/
nav {
    padding: 0px 40px;
}

.nav {
    box-shadow: 0 1px 16px rgba(0, 0, 0, 0.08);
    background-color: #EEE;
    z-index: 3;
    position: sticky;
}

#nav-logo {
    height: 70px;
    border-radius: 10px;
    margin-right: auto;
}

nav img {
    height: 60px;
    border-radius: 10px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    width: 100%;
    gap: 10px;
}

nav li {
    height: 50px;
}

nav a {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0px 10px;
    text-decoration: none;
    color: #1B1B1E;
    border-radius: 5px;
}

nav a:hover {
    transition: .15s;
    background-color: #CCCCCC;
}

.logo-link:hover {
    background-color: #EEE;
}

/* Main Content Styles *********************************************************************************************/
.hero {
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 40px 30px;
    border-radius: 7px;
    width: 100%;
    background-color: #EEE;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    max-width: 1800px;
}

.s1 {
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 40px 30px;
    width: 100%;
    border-radius: 7px;
    background-color: #EEE;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    max-width: 1800px;
}

main {
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 40px 30px;
    background-color: #FFF;
}

/* Photo Container Styles ******************************************************************************************/
.photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    width: 100%;
}

.photo-container img {
    width: auto;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 1px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.photo-container label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    margin: 5px 0;
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0 1px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.photo-container label:hover {
    background-color: #EEE;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.photo-squares {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Custom Checkbox Styles ******************************************************************************************/
input[type="checkbox"] {
    -webkit-appearance: none;
    background-color: #f3f3f3;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    transition: background-color 0.1s ease, border-color 0.1s ease;
}

input[type="checkbox"]:checked {
    background-color: #3498db;
    border-color: #2980b9;
}

input[type="checkbox"]:checked::after {
    content: "✔";
    color: white;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Button Styles ****************************************************************************************************/
.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.delete-button {
    padding: 12px 20px;
    background-color: #e74c3c;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.delete-button i {
    margin-right: 10px;
}

.delete-button:hover {
    background-color: #c0392b;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* Upload Container Styles *****************************************************************************************/
.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1800px;
    width: 100%;
    padding: 30px;
    background-color: #EEE;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.upload-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #2c3e50;
}

.upload-container input[type="file"] {
    display: none;
}

.upload-container label {
    padding: 12px 20px;
    background-color: #3498db;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-container label:hover {
    background-color: #2980b9;
}

.upload-container button {
    padding: 12px 20px;
    background-color: #2ecc71;
    border: none;
    font: inherit;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-container button:hover {
    background-color: #27ae60;
}

.upload-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upload-form-container form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

/* Status Message Styles *******************************************************************************************/
#status-message {
    margin-top: 20px;
    font-size: 16px;
    color: #e74c3c;
}

/* Responsive Adjustments ******************************************************************************************/
@media (max-width: 768px) {
    .upload-container {
        padding: 20px;
    }

    .upload-container h2 {
        font-size: 20px;
    }
}

/* Footer Styles ****************************************************************************************************/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    gap: 20px;
    background-color: #EEE;
    font-size: 12px;
    box-shadow: 0 1px 16px rgba(0, 0, 0, 0.08);
}

.footer div {
    display: flex;
    gap: 20px;
}

.footer p {
    color: #1B1B1E;
    text-align: center;
}
