<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/home.css" rel="stylesheet">
    <title>Photos</title>
</head>
<body>
    <header>
        <nav class="nav" th:insert="~{fragments/navigation::navigation_bar}"></nav>
    </header>

    <main>
        <section class="hero">
            <h1 th:text="${name} + 's photos'">My Photos</h1>
        </section>

        <div class="photo-container">
            <div class="photo-squares" th:each="photo : ${photos}">
                <img alt="Photo" class="photo" th:src="@{'/photos/' + ${photo.id}}">
            </div>
        </div>
    </main>

    <footer class="footer" th:insert="~{fragments/footer::footer}"></footer>
</body>
</html>
